{{#extends "base"}}

{{#block "content"}}
<h1>Power-Packed Nutrition</h1>
<p>Say goodbye to empty calories and hello to wholesome goodness! 
Our protein bars and snacks are power-packed with premium ingredients to deliver the nutrition your body needs. Whether you're hitting the gym, conquering a busy day at work, or simply need a quick pick-me-up, our snacks provide the quick bite and energy boost.</p>
{{/block}}

{{/extends}}