{{#extends "base"}}

{{#block "content"}}
<h1>Elevate Your Performance</h1>
<p>Whether you're a seasoned athlete, a fitness enthusiast, or just starting your journey towards better health, our protein and superfood powders are here to help you reach your full potential. </p>
{{/block}}

{{/extends}}