{{#extends "base"}}

{{#block "content"}}
<h1>Immunity Boosts</h1>
<p>Choose from our selection of vitamins, minerals, antioxidants, and superfoods. Each product is chosen to boost your immunity and promote overall wellness.</p>
{{/block}}

{{/extends}}